@import "../variables.less";

.main-nav {
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0 0 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  li {
    margin-right: 15px;
    a {
      color: @color-dark-font;
      text-decoration: none;
      &:hover {
        color: @color-main-font;
      }
    }
  }
  li:last-child {
    margin-right: 0;
  }
}

.main-nav_about {
  justify-content: center;
  li{
    a:hover {
      color: white;
    }
  }
}